{% extends 'base.html.twig' %}
{#{% block head %}#}

{#    <style type="text/css">#}
{#        TABLE {#}
{#            width: 500px; /* Ширина таблицы */#}
{#            border-collapse: collapse;#}
{#        }#}

{#        TD, TH {#}
{#            padding: 1px;#}
{#            border: 1px solid grey;#}
{#        }#}

{#        TH {#}
{#            background: white;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#    {% for citizen in citizens %}#}
{#        <div class="card">#}
{#            <table style="float: top">#}
{#                <tr>#}
{#                    <th>Name</th>#}
{#                    <th>Surname</th>#}
{#                    <th>Gendor</th>#}
{#                    <th>DataOfBirth</th>#}
{#                    <th>CarName</th>#}
{#                    <th>Passport</th>#}
{#                    <th>Diplom</th>#}
{#                    <th>Category</th>#}
{#                    <th>TheProperty</th>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th>{{ citizen.name }}</th>#}
{#                    <th>{{ citizen.surname }}</th>#}
{#                    <th>{{ citizen.gendor }}</th>#}
{#                    <th>{{ citizen.dateOfBirth }}</th>#}
{#                    {% for citizen in citizen.cars %}#}
{#                        <th><a href="cars">#}
{#                                <button>Cars</button>#}
{#                            </a>#}
{#                            {{ citizen.carName }} </th>#}
{#                    {% endfor %}#}
{#                    {% for citizen in citizen.passport %}#}
{#                        <th><a href="passportTable">#}
{#                                <button>Passport</button>#}
{#                            </a>{{ citizen.passport }}</th>#}
{#                    {% endfor %}#}
{#                    {% for citizen in citizen.educationDocs %}#}
{#                        <th><a href="educatioDocs">#}
{#                                <button>EducationDocs</button>#}
{#                            </a>{{ citizen.Diplom }}</th>#}
{#                    {% endfor %}#}
{#                    {% for citizen in citizen.driverLicense %}#}
{#                        <th><a href="driverLicense">#}
{#                                <button>License</button>#}
{#                            </a>{{ citizen.driverLicense.categoryAuto }} </th>#}
{#                    {% endfor %}#}
{#                    {% for citizen in citizen.TheProperty %}#}
{#                        <th><a href="porpertyTable">#}
{#                                <button>Property</button>#}
{#                            </a>{{ citizen.adress }}</th>#}
{#                    {% endfor %}#}
{#                    <th></th>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#        </div>#}
{#    {% endfor %}#}

{% block body %}
    <button onclick="location.href='addCitizen'" type="submit">
        Create New Citizen
    </button>
    {% for citizen in citizens %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">dateOfBirth</th>
                <th scope="col">gendor</th>
                <th scope="col">carName</th>
            </tr>
            </thead>
            <tbody>
            <tr>
{#                                {% for citizen in citizen.cars %}#}
                <th scope="row"> <a href="{{ path('carsCitizens',{'id': citizen.id}) }}" </a>{{ citizen.id }} </th>
{#                                    {% endfor %}#}
                <td>{{ citizen.name }}</td>
                <td>{{ citizen.surname }}</td>
                <td>{{ citizen.dateOfBirth }}</td>
                <td>{{ citizen.gendor }}</td>
                {% for citizen in citizen.cars %}
                    <td>     {{ citizen.carName }} </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
