{% extends 'base.html.twig' %}
{% block body %}
    {% for citizenz in citizens %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
{#               {% for citizenz in citizenz.cars %}#}
                <td>{{ citizenz.carName }}</td>
{#                   {% endfor %}#}
                <td>{</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

