{% block head %}
    <style type="text/css">
        TABLE {
            width: 500px; /* Ширина таблицы */
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid grey;
        }

        TH {
            background: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
    {% for driversLicense in driversLicense %}
        <div class="card">
            <table style="float: top">
                <tr>
                    <th>categoryAuto</th>
                    <th>licenseId</th>
                    <th>serialNumber</th>
                    <th>issuedBy</th>
                    <th>whenIssued</th>
                </tr>
                <tr>
                    <th>{{ driversLicense.categoryAuto }}</th>
                    <th>{{ driversLicense.licenseId }}</th>
                    <th>{{ driversLicense.serialNumber }}</th>
                    <th>{{ driversLicense.issuedBy }}</th>
                    <th>{{ driversLicense.whenIssued }}</th>
                </tr>
            </table>
        </div>
        </div>
    {% endfor %}
    <button onclick="location.href='addDriverLicence'" type="button">
        Add Driver License</button>
{% endblock %}