{% block head %}
    <style type="text/css">
        TABLE {
            width: 500px; /* Ширина таблицы */
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid grey;
        }

        TH {
            background: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
    {% for eductaionDocs in educationDoc %}
        <div class="card">
            <table style="float: top">
                <tr>
                    <th>diplom</th>
                    <th>atestat</th>
                    <th>issuedBy</th>
                    <th>whenIssued</th>
                    <th>subjectRatings</th>
                </tr>
                <tr>
                    <th>{{ eductaionDocs.diplom }}</th>
                    <th>{{ eductaionDocs.atestat }}</th>
                    <th>{{ eductaionDocs.issuedBy }}</th>
                    <th>{{ eductaionDocs.whenIssued }}</th>
                    <th>{{ eductaionDocs.subjectRatings }}</th>
                </tr>
            </table>
        </div>
        </div>
    {% endfor %}
    <button onclick="location.href='addEducationDocs'" type="button">
        Add Education Docs</button>
{% endblock %}
