{% block head %}
    <style type="text/css">
        TABLE {
            width: 500px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid grey;
        }

        TH {
            background: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
    {% for passport in passports %}
        <div class="card">
            <table style="float: top">
                <tr>
                    <th>serialNumber</th>
                    <th>passport</th>
                    <th>internationalpassport</th>
                    <th>issuedBy</th>
                    <th>whenIssued</th>
                </tr>
                <tr>
                    <th>{{ passport.serialNumber }}</th>
                    <th>{{ passport.passport }}</th>
                    <th>{{ passport.internationalpassport }}</th>
                    <th>{{ passport.issuedBy }}</th>
                    <th>{{ passport.whenIssued }}</th>
                </tr>
            </table>
        </div>
        </div>
    {% endfor %}
    <button onclick="location.href='addPassport'" type="button">
        Add Passport </button>
{% endblock %}
