{% block head %}
    <style type="text/css">
        TABLE {
            width: 500px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid grey;
        }

        TH {
            background: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
    {% for property in propertys %}
        <div class="card">
            <table style="float: top">
                <tr>
                    <th>typeOfPorperty</th>
                    <th>area</th>
                    <th>adress</th>
                </tr>
                <tr>
                    <th>{{ property.typeOfPorperty }}</th>
                    <th>{{ property.area }}</th>
                    <th>{{ property.adress }}</th>
                </tr>
            </table>
        </div>
        </div>
    {% endfor %}
    <button onclick="location.href='addProperty'" type="button">
        Add Porperty</button>
{% endblock %}
